@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

.error-page {
  margin-top: 50px;
}
.h1 h1 {
  font-size: 200px;
}
.page h1 {
  font-size: 70px;
  font-family: "Hammersmith One", sans-serif;
}
.try h1 {
  font-size: 28px;
  font-family: "Hammersmith One", sans-serif;
}
