<app-nav></app-nav>
<div class="container container-form-login bg-dark shadow-lg p-2 rounded">
    <form #loginForm="ngForm" (ngSubmit)="onLogin()">
    <div>
         <h2 class="text-info">LOG IN</h2>
    </div>
    <div [class]="isError ? 'alert alert-danger' : 'd-none'" class=" mb-1"> {{message}} </div>
    <div [class]="isSuccess ? 'alert alert-success' : 'd-none'" class=" mb-1"> {{message}} </div>
    <div class="row">
        <div class="mb-3">
            <input type="text" #email="ngModel" class="form-control" name="email" placeholder="Email" [(ngModel)] = "UserEmail" />
            <div *ngIf="email.errors && email.touched">
                <div class="text-danger" *ngIf="email.errors.required">Email is required</div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
          <input type="password" #pass="ngModel" class="form-control" name="password" placeholder="Password" [(ngModel)] = "UserPassword" />
          <div *ngIf="pass.errors && pass.touched">
            <div class="text-danger" *ngIf="pass.errors.required">Password is required</div>
         </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col button">
            <button class="btn btn-dark px-5" [disabled]="loginForm.form.invalid">LOGIN</button>
        </div>
    </div>
    <div>
        Create new account.<a class="text-info" routerLink="/Signup" id="link2"> Sign Up</a>
    </div>
    </form>
</div>